# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\BRATS_Research\BraTS-2021\src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
